/* width 1694px */
@media (max-width: 118.75em) {
}
@media (max-width: 101em) {
  html {
    font-size: 56.25%;
  }
}
/* width 1500px */
@media (max-width: 93.75em) {
  html {
    font-size: 50%;
  }
  .projects {
    column-gap: 14rem;
    padding: 0 21.8rem;
  }
  .text {
    min-width: 24rem;
  }
  .fz-3-6 {
    font-size: 3.2rem;
  }
  .main-logo {
    font-size: 3.2rem;
  }
  .section-projects {
    margin-bottom: 20rem;
  }
  .additional-title {
    font-size: 3.6rem;
  }
  .container {
    padding: 0 11rem;
  }
}
/* width 1200px */
@media (max-width: 75em) {
  html {
    font-size: 43.25%;
  }
  h1,
  h2 {
    font-size: 5.2rem;
  }
  .header {
    padding: 0 8rem;
    font-size: 3.2rem;
    font-weight: 500;
  }

  .bar-lvl-title {
    font-size: 2.8rem;
  }
  .additional-skills {
    font-size: 3rem;
  }

  .year {
    font-size: 3rem;
  }
  .text {
    font-size: 2.2rem;
    min-width: 20rem;
  }
  .footer {
    padding: 0 19.2rem;
  }
  .section-additional {
    margin-bottom: 20rem;
  }
}
@media (max-width: 62em) {
  html {
    font-size: 36.5%;
  }
  .projects {
    column-gap: 9rem;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
  }
  .contacts-link {
    justify-self: center;
    text-align: center;
  }
  .media-links-footer {
    grid-row: 1;
    justify-self: center;
  }
}
@media (max-width: 48em) {
  .menu-mobile {
    display: block;
  }
  .links {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
  .icon-mobile-nav {
    position: relative;
    height: 7.2rem;
    width: 7.2rem;
    z-index: 1000;
  }

  .nav-mobile .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    font-size: 6.4rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .nav-mobile {
    display: flex;
    background-color: rgba(15, 22, 36, 0.466);
    backdrop-filter: blur(5px);
    inset: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: all 0.3s;
  }
  .nav-mobile .links {
    display: flex;
    z-index: 999;
  }
  .icon {
    width: 7.2rem;
    height: 7.2rem;
  }
  .main-logo {
    z-index: 1000;
  }
  .year {
    font-size: 3.6rem;
  }

  .additional-skills {
    font-size: 2.1rem;
  }
  .fz-3-6 {
    font-size: 2.4rem;
  }
  .main-logo {
    font-size: 3.8rem;
  }
  .section-projects {
    margin-bottom: 20rem;
  }
  .additional-title {
    font-size: 3.6rem;
  }
  .container {
    padding: 0 6rem;
  }
  .bar-lvl-title {
    font-size: 1.2rem;
  }
  .text {
    display: none;
  }
  .text-mobile {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .text-mobile.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    max-width: 34rem;
    transition: opacity 1s;
  }
  .container-timeline {
    position: relative;
  }
  .text-mobile.active {
    display: flex;
    font-size: 2.8rem;
    text-align: center;
  }
  .circle.circle-active {
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(290deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%) border-box;
    border-radius: 50%;
    border: 0.6rem solid transparent;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 30%;
  }
  .header {
    padding: 0 4rem;
  }
  .footer {
    padding: 0 4rem;
  }
  .container {
    padding: 0 6rem;
  }
  .item {
    padding: 0 5.4rem;
  }
  .projects {
    padding: 0 11.4rem;
  }
  .under-line {
    max-width: 20rem;
  }
  .additional-skills {
    font-size: 3.4rem;
  }
  .additional-skills-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .text-mobile.active {
    min-width: 22rem;
    font-size: 2.8rem;
  }
}
