:root {
  --bg-color: #0f1624;
  --gradient-primary: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  --gradient-reverse: linear-gradient(270deg, #945dd6 0%, #6978d1 66.67%, #13adc7 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-weight: 600;
  font-size: 6.4rem;
  padding-bottom: 3.4rem;
}
p {
  color: #bcbcbc;
  font-weight: 600;
}

/* NAV SECTION */
.section-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header {
  display: flex;
  align-items: center;
  padding: 0 13rem;
  z-index: 999;
  background-color: #0f1624;
  justify-content: space-between;
  max-width: 192rem;
  height: 13.7rem;
  margin: 0 auto;
}

.main-logo {
  font-size: 3rem;
  font-weight: 500;
  background-image: var(--gradient-primary);
  text-decoration: none;
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 9.8rem;
  font-size: 3rem;
}
.nav-link {
  text-decoration: none;
  color: #fff;
}
.icon {
  height: 3.2rem;
}
.media-links {
  display: flex;
  gap: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
}

.container-grid {
  display: grid;
  max-width: 132rem;
  row-gap: 9.7rem;
  column-gap: 22rem;
}
.grid--2-cols {
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
}

/**************************/
/* SECTION ABOUT */
/**************************/

.section-about {
  position: relative;
  margin-bottom: 9.3rem;
  margin-top: 29.4rem;
  transition:
    transform 1s,
    opacity 1s;
}
.about {
  margin: 0 auto;
  padding: 0 19.2rem;
  max-width: 192rem;
}
.about-description {
  padding-left: 6.2rem;
  line-height: 5.4rem;
  max-width: 98.9rem;
  font-size: 3.6rem;
  font-weight: 600;
}
.btn {
  width: 28rem;
  height: 8rem;
  margin: 7rem 0 34.8rem 10.8rem;
  border: none;
  border-radius: 83px;
  font-weight: 600;
  font-size: 2.8rem;
  color: #fff;
  background-image: var(--gradient-primary);
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background: var(--gradient-reverse);
}
.drawing {
  position: absolute;
  display: inline-flex;
  right: 0;
  bottom: 0;
  max-width: 68.6rem;
  max-height: 76rem;
  z-index: -1;
}
.section-project-title {
  padding: 0;
  position: absolute;
  bottom: 0;
}

/**************************/
/* SECTION PROJECT */
/**************************/

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section-projects {
  margin-bottom: 32.9rem;
  transition:
    transform 1s,
    opacity 1s;
}
.projects {
  display: grid;
  row-gap: 9.7rem;
  column-gap: 22rem;
  padding: 0 30rem;
  max-width: 192rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}
.icon-mobile-nav {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  height: 7.2rem;
  width: 7.2rem;
}
.project-container {
  display: flex;
  flex-direction: column;
  border-radius: 5rem 0;
  max-width: 55rem;
  height: auto;
  box-shadow: 0 0 12px 0 #fff;
  background: #0f1624;
  transition:
    transform 1s,
    opacity 1s;
}

.project-img-container {
  border-radius: 0.8rem;

  margin: 2.5rem;
  overflow: hidden;
  transition: 0.3s;
  object-fit: cover;
}
.project-img-container:hover {
  box-shadow: 0 0 1.2rem 0 #fff;
}
.project-img {
  max-width: 50rem;
  width: 100%;
  height: 26.6rem;
  transition:
    transform 0.3s,
    opacity 1s;
}
.project-img:hover {
  transform: scale(1.1);
}
.project-title {
  font-size: 3.6rem;
  text-align: center;
  margin: 0 0 2.5rem 0;
}

.under-line {
  margin: 0 auto 25px;
  border: none;
  border-radius: 8.3px;
  max-width: 30rem;
  height: 0.4rem;
  background: var(--gradient-primary);
}

.project-description {
  font-size: 2.8rem;
  margin: 0 2.5rem 2.5rem;
}

.btn-open {
  width: 20rem;
  height: 6rem;
  margin: 0 0 4.5rem 2.5rem;
  border: none;
  border-radius: 83px;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  background-image: var(--gradient-primary);
  cursor: pointer;
  transition: all 0.5s;
}

.btn-open:hover {
  background: var(--gradient-reverse);
}
.project-btn {
  margin-top: auto;
}
/**************************/
/* TECHNOLOGIES SECTION */
/**************************/

.section-technologie {
  margin-bottom: 7.77rem;
  transition:
    transform 1s,
    opacity 1s;
}
.technologie {
  max-width: 192rem;
  padding: 0 19.2rem;
  margin: 0 auto;
}

.section-technologie-title {
  margin-bottom: 13.3rem;
}
.section-technologie-bars {
  margin: 0 10.8rem;
}
.technologie-bar-container {
  max-width: 132rem;
}
.bar-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.bar-titles p {
  color: #fff;
}
.bar-technologie-title {
  font-size: 3.6rem;
  padding-left: 2.5rem;
}
.bar-lvl-title {
  font-size: 2.4rem;
  padding-right: 6.6rem;
  line-height: 3.6rem;
}
.progress-bar-container {
  border-radius: 8.3rem;
  max-height: 3.2rem;
  background: #162950;
  margin-bottom: 5.5rem;
}

@keyframes fillAnimation {
  from {
    width: 0;
  }
  to {
    width: var(--techPercentage);
  }
}
.progress-bar-animated {
  border-radius: 83px;
  height: 3.2rem;
  background: var(--gradient-primary);
  width: var(--techPercentage);
  animation: fillAnimation 1.5s ease-in-out;
}
/**************************/
/* ADDITIONAL SECTION */
/**************************/

.section-additional {
  margin-bottom: 32.9rem;
  transition:
    transform 1s,
    opacity 1s;
}
.additional {
  margin: 0 auto;
  padding: 0 19.2rem;
  max-width: 192rem;
}
.additional-title {
  padding: 0;
  font-size: 4.8rem;
  margin-bottom: 8.2rem;
}

.additional-skills {
  display: flex;
  list-style-position: inside;
  flex-direction: column;
  row-gap: 3.2rem;
  font-size: 3.6rem;
}
.additional-skills-container {
  display: flex;
  padding: 0 10.8rem;
  max-width: 153.6rem;
  justify-content: space-between;
}

/**************************/
/* ABOUT ME SECTION */
/**************************/

.container-timeline {
  margin-top: 8.7rem;
  position: relative;
  max-width: 132rem;
  min-height: 3.2rem;
}

.about-me {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 19.2rem;
}
.about-me-timeline {
  padding: 0 10.8rem;
}
.section-about-me {
  font-weight: 600;
  font-size: 6.4rem;
  margin-bottom: 42.1rem;
  transition:
    transform 1s,
    opacity 1s;
}
.rectangle {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  max-width: 128.9rem;
  width: 100%;
  height: 1.2rem;
  background-color: white;
}

.circle {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  background-color: white;
  border-radius: 50%;
}
.circle1 {
  top: 0;
  left: 0%;
}
.circle2 {
  top: 0;
  left: 32%;
}
.circle3 {
  top: 0;
  left: 65%;
}
.circle4 {
  top: 0;
  left: 98%;
}

.year {
  font-size: 3.6rem;
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  color: white;
}
.text {
  font-size: 2.8rem;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  min-width: 34.7rem;
  transform: translateX(-50%);
  margin-top: 1rem;
  color: white;
}

/**************************/
/* SECTION FOOTER*/
/**************************/

.contacts-link a:link,
.contacts-link a:visited {
  font-size: 4.2rem;
  text-decoration: none;
  color: #fff;
}
.contacts-link .telegram:hover,
.contacts-link .telegram:active {
  font-size: 4.2rem;
  text-decoration: none;
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts-link .gmail:hover,
.contacts-link .gmail:active {
  font-size: 4.2rem;
  text-decoration: none;
  background: var(--gradient-reverse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  display: grid;
  max-width: 192rem;
  width: 100%;
  grid-template-columns: 27.2rem 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 26rem;
  margin-bottom: 8rem;
}
.media-links-footer {
  display: flex;
  max-width: 34.8rem;
  gap: 6.6rem;
  justify-self: flex-end;
}
.contacts-link p {
  margin: 0;
  font-size: 4.2rem;
  color: #fff;
}

.media-links-footer .icon {
  height: 7.2rem;
  width: 7.2rem;
}
